.login-wrapper {
  min-height: 100%; /* 뷰포트 기준, 세로 전체 채움 */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #e0e0e0;
  position: absolute;

}

.login-form {
  background: #fff;
  padding: 40px 32px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-top: 100px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 700;
}

.input-box {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 18px;
}

.input-box input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 15px;
  color: #333;
}

.login-button {
  width: 100%;
  padding: 12px;
  background: #151538;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #1f1f5a;
}

.login-links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  margin-top: 16px;
  padding: 0 2px;
}

.login-links span {
  cursor: pointer;
}

.login-links span:hover {
  text-decoration: underline;
}

.error-text {
  color: #e74c3c;
  font-size: 13px;
  margin-top: -12px;
  margin-bottom: 12px;
  padding-left: 4px;
  display: block;
}